[alias]
    cb = checkout
    mb = checkout -b
    mbm = checkout master && pull origin master && checkout -b
    ass = add
    unstage = restore -S
    st = status
    sts = status -s
    coa = commit -am
    ecm = commit --amend -m
    cmt = commit -m
    
    recent = log --oneline -n 4
    
    psuh = push
    pm = checkout master && pull origin master && checkout -
    fpush = push --force-with-lease
    puhs = push
    piush = push
    oush = push
    po = pull origin
    pr = pull --rebase
    pro = pull --rebase origin

    rhs = reset HEAD~1 --soft
    rh = reset HEAD~1

    ra = rebase --abort
    hist = log --one-line -10
    psr = stash && git pro $1 && stash pop && push 

    delta = !delta $(defaults read -g AppleInterfaceStyle &>/dev/null || echo --light)
    # or to ensure dark is default in Codespaces (Linux)
    delta = !delta $(defaults read -g AppleInterfaceStyle 2>&1 | grep 'does not exist' >/dev/null && echo --light)

[user]
    email = krishna.moorthy@zohocorp.com
    name = Krissh

[filesystem "Oracle Corporation|1.8.0_291|/dev/disk3s5"]
    timestampResolution = 1019 milliseconds
    minRacyThreshold = 0 nanoseconds

[includeIf "gitdir:~/personal/"]
    path = ~/personal/.gitconfig

[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig

[init]
	templatedir = ~/.git_templates
	defaultBranch = main

[pull]
    rebase = false

[push]
    autoSetupRemote = true
    autoSetupRemote = true

[core]
    excludeFile = ~/.config/git/.gitignore
    hooksPath = /dev/null/
    compression = 0
    editor = vi
    pager = delta
	autocrlf = input

[rerere]
    enabled = true
[column]
    ui = auto
[branch]
    sort = -committerdate
[pager]
    branch = false

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true # use n and N to move between diff sections

# delta detects terminal colors automatically; set one of these to disable auto-detection
# dark = true
# light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
